.App {
    background: "white";
    /* background: linear-gradient(0deg, rgba(47,34,195,1) 0%, rgba(226,237,237,0.35066526610644255) 100%); */
    background-size: cover;
    min-height: 98vh;
    min-width: 98vw;
  }
  .App>img{
    mix-blend-mode: color-dodge;
    filter: brightness(100%) saturate(1) contrast(1);
  }
  
  .App::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }

  